
#Frame {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-bkg-default.jpg") no-repeat scroll 0 0;
    border-top: 1px solid #000;
}

#Head {
    background-color: rgba(0, 0, 0, 0);
    min-height: 136px;
}

.HeadLocation p {
    font-size: 11px;
    color: #aaa;
}

.HeadLocation h1 {
    font-size: 24px;
    width: 155px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
}

.posting-discussion h1 {
    width: auto;
}

.head-sub-link h2 {
    font-size: 15px;
    width: 155px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    margin-top: -6px;
    font-family: Oswald, sans-serif;
    padding-bottom: 2px;
}

#Head .dark-buttons a.button {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    margin-right: 8px;
    min-width: 91px;
    padding: 13px 6px;
}

#Head .dark-buttons a.button.hearthstone {
    padding: 13px 16px;
}

#Head .category-buttons a.inside-gosugamers {
    float: right;
    padding: 9px 16px;
}

.tag-buttons .button {
    box-shadow: 0 0 1px rgb(0, 0, 0);
    box-sizing: border-box;
    float: left;
    margin: 0;
    min-width: 85px;
    padding: 16px 6px;
    font-size: 11px;
}

.gg-Category {
    background-color: rgb(35, 35, 35);
    height: 106px;
    margin-bottom: 8px;
    position: relative;
    transition-duration: 200ms;
    box-shadow: -30px 0 40px #101010 inset;
}

.gg-Category:hover {
    -webkit-background-size: 110%;
    background-size: 110%;
    box-shadow: 0 0 0px #101010 inset;
}

.gg-Category .left-Category {
    position: absolute;
    height: auto;
    display: table;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.gg-Category .details {
    padding-left: 110px;
}

.gg-Category .details .TitleWrap {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 2px;
}

#Head .dark-buttons .button span {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
    line-height: 16px;
    padding: 0 0 0 22px;
}

.HeadLocation {
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 26px;
}

.MainCategories {
    float: right;
    margin-top: 42px;
}

#Head .dark-buttons .button span label {
    cursor: pointer;
    display: block;
    line-height: 12px;
    text-align: left;
}

#Head .dark-buttons .button span .top-text {
    display: block;
    line-height: 12px;
}

.filter-dark-bg {
    border-top: 1px solid #333;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(34, 34, 34) 1%, rgba(5, 5, 5, 0) 100%) repeat scroll 0 0;
}

.top-tags {
    clear: both;
    height: 35px;
    padding-top: 8px;
}

.forums-sidepanel {
}

.category-head {
    position: relative;
    float: left;
}

.category-head i {
    background-image: url("http://www.gosugamers.net/images/forums/gg-forums-sections-game-icons.png");
    background-position: -480px 0px;
    background-repeat: no-repeat;
    display: block;
    height: 80px;
    width: 80px;
    float: left;
}

.on-right-title {
    padding-left: 80px;
    padding-top: 9px;
}

.category-head i.dota2 {
}

.gg-Category i.inside-gosugamers {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-gg-icon.png") no-repeat scroll 0 0;
    height: 48px;
    left: 30px;
    width: 48px;
}

i.dota2 {
    background-position: 0 0;
}

i.lol {
    background-position: -78px 0;
}

i.counterstrike {
    background-position: -162px 0;
}

i.hearthstone {
    background-position: -242px 0;
}

i.hots {
    background-position: -320px 0;
}

i.inside-gosugamers {
    background-position: -395px 0;
}

i.overwatch {
    background-position: -559px 0;
}

i.starcraft2 {
    background-position: -636px 0;
}

#Frame.dota2 {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-bkg-dota2.jpg") no-repeat scroll 0 0;
}

#Frame.hots {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-bkg-hots.jpg") no-repeat scroll 0 0;
}

#Frame.counterstrike {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-bkg-csgo.jpg") no-repeat scroll 0 0;
}

#Frame.lol {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-bkg-lol.jpg") no-repeat scroll 0 0;
}

#Frame.hearthstone {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-bkg-hs.jpg") no-repeat scroll 0 0;
}

#Frame.overwatch {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-bkg-overwatch.jpg") no-repeat scroll 0 0;
}

#Frame.starcraft2 {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-bkg-sc2.jpg") no-repeat scroll 0 0;
}

.gg-Category.inside-gosugamers .meta-Category {
    display: none;
}

.right-Category {
    position: absolute;
    right: 100px;
    width: 200px;
    height: auto;
    display: table;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.meta-Category .Comment-count {
    float: left;
}

.meta-Category .Discussion-count {
    float: left;
}

.meta-Category {
    color: #aaa;
}



.gg-Category i {
    background-image: url("http://www.gosugamers.net/images/forums/gg-forums-sections-game-icons.png");
    display: block;
    height: 80px;
    left: 15px;
    position: absolute;
    top: 12px;
    width: 80px;
}

.gg-Category.dota2 {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-home-bkg-dota2.jpg") no-repeat scroll 0 0;
}

.gg-Category.hots {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-home-bkg-hots.jpg") no-repeat scroll 0 0;
}

.gg-Category.counterstrike {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-home-csgo.jpg") no-repeat scroll 0 0;
}

.gg-Category.lol {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-home-bkg-lol.jpg") no-repeat scroll 0 0;
}

.gg-Category.hearthstone {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-home-bkg-hearthstone.jpg") no-repeat scroll 0 0;
}

.gg-Category.inside-gosugamers {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-home-bkg-inside-gg.jpg") no-repeat scroll 0 0;
    height: 67px;
}

.gg-Category.overwatch {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-home-overwatch.jpg") no-repeat scroll 0 0;
}

.gg-Category.starcraft2 {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-home-sc2.jpg") no-repeat scroll 0 0;
}

.right-Category label {
    display: block;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    padding: 2px 0;
}

.right-Category .last-title {
    font-size: 12px;
    text-transform: none;
    text-overflow: ellipsis;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
}

.right-Category .author {
    font-size: 10px;
    text-transform: none;
}

.right-Category .author a {
    color: rgb(153, 153, 153);
}

.inside-gosugamers .details {
    padding-top: 5px;
}

.inside-gosugamers.gg-Category .TitleWrap {
    font-size: 16px;
    line-height: 16px;
}

.inside-gosugamers .right-Category .author {
    display: none;
}

.gg-Category .left-Category p {
    display: block;
    color: #999;
}

.gg-Category .left-Category .meta-Category {
    display: none;
}

.inside-gosugamers.gg-Category .left-Category p {
    color: rgb(153, 153, 153);
    display: block;
    font-size: 11px;
}

.gg-Category .arrow {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(40, 40, 40);
    border-radius: 1000px;
    font-family: inherit;
    font-size: 14px;
    height: 40px;
    line-height: 36px;
    position: absolute;
    right: 30px;
    text-align: center;
    top: 34px;
    transition: all 300ms ease 0s;
    width: 40px;
}

.arrow div {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent #333;
    margin-top: 14px;
    margin-left: 16px;
    transition: all 300ms;
}

.inside-gosugamers.gg-Category .arrow {
    top: 15px;
}

.gg-Category .arrow:hover {
    background-color: rgb(0, 0, 0);
}

.gg-Category:hover .arrow div {
    border-color: transparent transparent transparent #bbb;
}

.SiteSearch #Form_Go,.SiteSearch #Form_Go, .SiteSearch #Form_Search1 {
    position: absolute;
    right: 0px;
    top: 6px;
    background: transparent;
    color: #444;
}

.SiteSearch #Form_Go:hover, .SiteSearch #Form_Search1:hover {
    color: #fff;
}

.SiteSearch #Form_Search {
    background-color: #111;
    box-sizing: border-box;
    color: #FFF;
    height: 32px;
    margin-top: 8px;
    padding-left: 15px;
    width: 100%;
    border: 1px solid rgb(36, 36, 36);
    transition: all 200ms;
}

.SiteSearch #Form_Search:focus {
    border: 1px solid rgb(60, 60, 60);
    box-shadow: 0 0 16px 6px #333;
}

.SiteSearch #Form_Search:hover {
    border: 1px solid rgb(60, 60, 60);
}

.new-discussion.button {
    padding: 40px 0;
}

.feedback.button {
    padding: 11px 0;
}

.delete-posts.button {
    padding: 11px 0;
}

#delete-multiple-discussions {
    display: none;
}

.forum-rules.button {
    padding: 11px 0;
}

.old-forums.button {
}

.sidebar-message {
    background-color: rgb(35, 35, 35);
    color: rgb(157, 157, 157);
    font-size: 11px;
    line-height: 17px;
    padding: 25px;
}

.forums-sidepanel a.button {
    border-radius: 0;
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 13px;
    margin-bottom: 8px;
    text-align: center;
    width: 100%;
}

a.old-forums {
    padding: 10px 0;
}

.forums-sidepanel a label {
    color: rgb(238, 238, 238);
    cursor: pointer;
    display: block;
}

.forums-sidepanel a label.small {
    color: rgb(180, 180, 180);
    font-size: 10px;
}

.new-discussion label {
    font-size: 20px;
}

.sidebar-message h4 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    font-family: "Open sans", Arial, Helvetica, Verdana, sans-serif;
}

.dicussion-sorting {
    float: left;
    width: 300px;
}

.dicussion-sorting.custom-tabs ul li > a {
    border-top: medium none;
    margin-right: 1px;
    width: 90px;
}

.dicussion-sorting.custom-tabs ul li > a.active {
    border-top: 4px solid rgb(240, 58, 58);
    padding: 10px 0 14px;
}

.dicussion-sorting.custom-tabs ul li > a:hover * {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.top-sorting-option.custom-tabs ul li > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    width: 50px;
}

.top-sorting-option.custom-tabs {
}

.top-sorting-option.custom-tabs ul li > a:hover * {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.SiteSearch {
    position: relative;
}

.sorting-options {
    display: block;
    float: left;
    width: 100%;
}

.PageControls.Top {
    position: absolute;
    right: 0;
    top: 10px;
}

.forums .col-8, .forums .col-4 {
    position: relative;
}

.PageControls .PagerNub {
    display: none;
}

.Pager.NumberedPager a {
    display: inline-block;
    font-size: 12px;
    padding: 3px;
}

.Pager.NumberedPager a.Highlight {
    color: rgb(150, 150, 150);
    text-decoration: underline;
}

.Pager.NumberedPager span.Previous {
    display: none;
}

.DataList.Discussions {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.DataList li.ItemDiscussion {
    background-color: rgb(27, 27, 27);
    float: left;
    /* height: 75px; */
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 8px;
}

ul.DataList li.ItemDiscussion.is-new {
    background-color: rgb(37, 37, 37);
}

.Voter .VoteUp {
    display: block;
    width: 100%;
    margin-bottom: 1px;
}

.Voter .VoteDown {
    display: block;
    margin: 3px 0 0;
}

.Voter span {
}

.Voter {
    box-sizing: border-box;
    float: left;
    height: 100%;
    padding: 16px 0 0 18px;
    position: relative;
    z-index: 5;
}

.Voter.dissabled{
    opacity: 0.3;
    cursor:no-drop;
}
.Voter.dissabled a{
    cursor:no-drop;
}

.MessageList.Discussion .Voter {
    padding: 0 10px 0 0;
}

.ItemContent.Discussion {
    float: left;
    margin-top: 0px;
    padding: 18px 0 0 0;
    height: 100%;
}

.top-sorting-option.custom-tabs ul li > a.active {
    border-top: 2px solid transparent;
    color: #fff;
}

.top-sorting-option.custom-tabs ul li > a.active label {
    color: inherit;
}

/* Adding CrewView */
.Voter.CrewView {
}

/* To be added to the common UI css */
.dark-buttons .button, .dark-gradient {
    border-top: 1px solid #3B3B3B;
}

input[type="checkbox"].CrewView {
    float: left;
    margin: 31px 0px 0px 15px;
    position: relative;
    z-index: 5;
}

.forums .overlay-link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.forums .overlay-link:hover {
    background:rgba(255, 255, 255, 0.03);
}

.ItemDiscussion {
    margin-bottom: 1px;
}

.DiscussionScore.Hidden{
    display: none;
}

.ItemDiscussion.Discussion {
}

.ItemDiscussion .Title {
    font-size: 14px;
    max-width: 400px;
    padding-bottom: 29px;
    word-wrap: break-word;
    hyphens: auto;
}

.Meta.Meta-Discussion, .Meta.Meta-Discussion * {
    color: rgb(157, 157, 157);
    line-height: 0;
}

.Meta.Meta-Discussion {
    box-sizing: border-box;
    /* padding: 10px 0 26px; */
    position: absolute;
    /* left: 50px; */
    bottom: 26px;
}

.DiscussionTag {
}

.MItem.MLink a {
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

.ItemDiscussion .StatBox {
    display: none;
}

.ItemDiscussion .MCount {
    float: right;
    font-size: 11px;
    height: auto;
    line-height: 12px;
    position: absolute;
    right: 40px;
    top: 23px;
}

.ItemDiscussion .StatBox span {
    float: right;
    font-size: 11px;
    margin-left: 5px;
    text-align: left;
    text-transform: lowercase;
}

.Voter span {
    color: rgb(157, 157, 157);
}

.Tag.Tag-Sticky {
    background-color: rgb(240, 58, 58);
    color: rgb(255, 255, 255);
    font-size: 9px;
    padding: 0 7px;
    text-transform: uppercase;
}

.MItem.ViewCount {
    right: 152px;
}

.MItem.CommentCount {
    position: absolute;
}

.CommentCount.is-new .Number, .CommentCount.is-new {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.CommentCount.is-new i {
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-style: normal;
    position: absolute;
    right: -15px;
    text-shadow: none;
    top: -6px;
}

.MessageList.Discussion {
    background: #E4E4E4;
    color: #202020;
}

.ProfilePhoto.ProfilePhotoMedium {
    width: 50px;
    height: 50px;
}

.MessageList.Discussion .AuthorWrap {
    padding: 25px;
    height: 100px;
    border-bottom: 1px solid #D8D8D8;
    box-sizing: border-box;
}

.MessageList.Discussion .AuthorWrap > span {
    float: left;
    height: 50px
}

.MessageList.Discussion .Voter .VoteUp {
    margin-bottom: 6px;
}

.MessageList.Discussion .Voter .VoteDown {
    margin-top: 7px;
}

.Meta.DiscussionMeta {
    margin-left: 15px;
}


.Meta.DiscussionMeta > span {
    display: block;
    margin-bottom: 4px;
}

.Meta.DiscussionMeta .MItem a {
    color: inherit;
}

.MItem.AuthorName {
    font-size: 16px;
}

.MItem.DateCreated {
    color: #A0A0A0;
    font-size: 10px;
}

#Item_0 {
    padding: 25px;
}
#Item_0 h1 {
    font-family: inherit;
    font-size: 28px;
    font-weight: 600;
    word-wrap: break-word;
}

.MessageList.Discussion .Message {
    font-size: 13px;
    padding: 0 29px 40px 25px;
    border-bottom: 1px solid #D8D8D8;
    line-height: 17px;
    word-wrap: break-word;
}

.MessageForm.CommentForm.FormTitleWrapper {
    padding: 20px 25px;
    background: #E4E4E4;
    clear: both;
}

.MessageForm.CommentForm.FormTitleWrapper .Form-HeaderWrap {
    float: left;
    width: 50px;
}

.MessageForm.CommentForm.FormTitleWrapper .Form-BodyWrap {
    box-sizing: border-box;
    margin-left: 60px;
}

.MessageForm.CommentForm.FormTitleWrapper .Form-BodyWrap textarea {
    resize: none;
    height: 72px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background: #D3D3D3;
    color: #202020;
    font-size: 14px;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    border-radius: 0px;
}

.MessageForm.CommentForm.FormTitleWrapper .Form-BodyWrap textarea.expand {
    height: 220px
}

.MessageForm.CommentForm.FormTitleWrapper .Form-BodyWrap input {
    margin-top: 8px;
    width: 100%;
    font-weight: 600;
    box-shadow: none;
}

.Flyout.MenuItems {
    list-style-type: none;
}

.DataBox.DataBox-Comments {
    background: #1B1B1B;
}

.DataBox.DataBox-Comments .Voter {
    padding: 5px 0 0 15px;
}

.MessageList.DataList.Comments {
    list-style-type: none;
    padding-left: 0;
}

.MessageList.DataList.Comments > li {
    border-bottom: 1px solid #000000;
}

.MessageList.DataList.Comments .nested {
    padding: 0;
    border-left: 1px dashed #3C3C3C;
    list-style-type: none;
    margin-left: 7px;
}
.MessageList.DataList.Comments .nested .nested {
    margin-left: 20px;
}

.Comment .Message {
    padding: 6px 25px 35px 105px;
    font-size: 14px;
    line-height: 130%;
    word-wrap: break-word;
    color: #b1b1b1;
}

.MessageList.DataList.Comments .PhotoWrap img {
    vertical-align: middle;
}

.Item-Header.CommentHeader .AuthorWrap .MItem, .Item-Header.CommentHeader .AuthorWrap .MItem.DateCreated a {
    color: #999;
    font-size: 11px;
    font-family: 'Open Sans', Tahoma, Arial, sans-serif;
}

.Item-Header.CommentHeader .AuthorWrap .MItem.CreatedBy strong {
    font-size: 11px;
    color: #FFFFFF;
}

.MessageList.DataList.Comments .ItemComment {
    padding-top: 15px;
    margin-bottom: 10px;
}

.Discussion-SortingTabs {
    margin: 10px 0 0;
    font-weight: bold;
}

.Discussion-SortingTabs.sorting-options .custom-tabs.dicussion-sorting a {
    color: #FFFFFF;
}
.Discussion-SortingTabs .Discussion-ReplyCount {
    padding: 14px 25px;
    display: block;
    float: left;
    text-align: center;
    color: #525252;
    font-size: 12px;
}

.BeforeCommentHeading, #PagerAfter {
    float: right;
    padding: 8px 5px;
    font-weight: bold;
}

.CommentsWrap {
    clear: both;
}

.MItem.CommentOptions {
    float: right;
    margin: -8px 10px 0 10px;
}

.MessageList.Discussion .AuthorWrap > span.Options {
    float: right;
}

.Options {
    cursor: pointer;
    position: relative;
    padding: 0px 15px;
    height: 20px !important;
    display: inline-block;
    color: #8B8B8B;
}

ul.Discussions span.Options {
    display: none;
    padding: 5px;
    width: 20px;
    left: -30px;
    right: initial;
    background: url(http://www.gosugamers.net/images/icons/silk/cog.png) no-repeat center center;
    top: 50%;
    margin-top: -15px;
    background-color: inherit;
    border-radius: 4px 0 0 4px;
    box-shadow: -1px 0px 2px 0px #555;
    z-index: 10;

}

ul.Discussions:hover span.Options {
    background-color: inherit;
}

ul.Discussions span.Options .OptionsTitle {
    display: none;
}

ul.Discussions .ItemDiscussion:hover span.Options {
    display: block;
}

ul.Discussions span.Options:hover .MenuItems {
    display: block;
}

.ToggleFlyout.OptionsMenu .MenuItems {
    position: absolute;
    background: #E4E4E4;
    border: 1px solid #A9A9A9;
    top: 100%;
    padding: 10px;
    display: none;
}

.Options:hover .ToggleFlyout.OptionsMenu .MenuItems {
    display: block;
}


.ToggleFlyout.OptionsMenu .MenuItems a {
    color: #3C3C3C;
    white-space: nowrap;
}

.VideoWrap img {
    width: 100%;
    height: auto;
}

.VideoWrap .VideoPreview, .VideoWrap .VideoPreview a {
    display: block;
}

#Popup .Content h2 {
    font-size: 18px;
    color: #F0F0F0;
}

#Popup .Content .Warning {
    color: #F0F0F0;
    padding: 10px 0;
}

#Form_Plugin-dot-Flagging-dot-Reason {
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

#Popup .Buttons input#Form_Flagthis {
    width: 100%;
    margin-top: 10px;
}

.posting-discussion p {
    float: right;
    position: absolute;
    right: 50px;
    width: 300px;
    top:86px
}

#Frame.posting {
    background: rgba(0, 0, 0, 0) url("http://www.gosugamers.net/images/forums/gg-forums-bkg-new-discussion.jpg");
    background-size: 100% 94px;
    background-repeat: no-repeat;
}

.posting #Head {
    background-color: rgba(0, 0, 0, 0);
    min-height: 86px;
}

.parent-category204.posting .col-8.content-main{
    margin-top: 0px;
}
.PositionAnchor {
    position: absolute;
    top: -50px;
}

.LoginSignupButtons {
    padding: 10px 0;
    color: #202020;
}
.LoginSignupButtons a {
    color: inherit;
    font-weight: bold;
}

.content-main .SiteSearch {
    margin-top: -8px;
}

#Head .dark-buttons .button span .top-text {
    display: block;
    line-height: 10px;
    font-size: 10px;
    color: #666;
}

#Head .dark-buttons .button span label {
    cursor: pointer;
    display: block;
    line-height: 14px;
    text-align: left;
}

.MessageList.DataList.Comments > li {
    border-bottom: 1px solid #000000;
}

.Foot.Closed {
    padding: 20px;
}

.Foot.Closed > * {
    float: left;
}

.Foot.Closed > i {
    color: #A0A0A0;
}

.Note.Closed {
    color: #999;
    font-size: 13px;
    padding: 16px 15px;
}

.banned-post {
    font-size: 12px;
    color: #999;
}

.banned-post > span {
    color: #F03A3A;
}

.CrewStatus {
    padding: 1px 4px 1px 3px;
    color: #fff;
    font-weight: 600;
    font-size: 8px;
    background: #f03a3a ;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    width: 23px;
    margin: -8px auto;
    box-shadow: 0px 0px 1px #000;
    position: relative;
    z-index: 100;
}

.CommentHeader > .AuthorWrap {
    padding: 4px 0;
}

.CommentHeader > .AuthorWrap > .Author {
    position: relative;
    display: block;
    float: left;
    margin-top: -4px;
}

.CreatedBy {
    margin-left: 9px;
}

.CreatedBy > .IPAddress {
    font-weight: 400;
    font-size: 10px;
    vertical-align: baseline;

}

/* Stats Tooltip */
.user-stats {
    padding: 5px;
}

.user-stats .flag-container .flag {
    margin-right: 3px;
}

.user-stats .member-since {
    margin-bottom: 10px;
}

.user-stats .no-mb {
    margin: 0;
    font-size: 10px;
    color: #8e8e8e;
}
